div#status_box {
  width: 620px;
  height: 89px;
  background-color: #EEEEEE;
  padding: 2px 10px 12px 10px;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: sans-serif;
}

button {
  line-height: 1.5;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}

div#board {
  width: 640px;
  height: 640px;
}

div#rules {
<<<<<<< HEAD
  float: bottom;
  width: 620px;
  height: 270px;
=======
  float: right;
  width: 400px;
  height: 360px;
>>>>>>> 1b88fa2839ed1f5197ff58c252d507b4d27ab804
  background-color: #EEEEEE;
  padding: 2px 10px 12px 10px;
  margin-bottom: 12px;
  font-size: 18px;
  font-family: sans-serif;
<<<<<<< HEAD
  border-top: 1px solid #665544;
  border-bottom: 1px solid #665544;
=======
  border: 1px solid #665544;
>>>>>>> 1b88fa2839ed1f5197ff58c252d507b4d27ab804
}

div.square {
 height: 80px;
 width: 80px;
 display: table-cell;
 font-size: 60px;
 vertical-align: middle;
 text-align: center;
}

div.white {
 background-color: #DDDDDD;
}

div.black {
 background-color: #AAAAAA;
}

div.green {
 background-color: #88AA88;
}

div.green:hover {
  background-color: #88DD88;
}

div.lightgreen {
 background-color: #BBDDBB;
}

div.lightgreen:hover {
  background-color: #88DD88;
}
